<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div ng-app="TicTacToe" ng-controller="MainController" class="container">
  <div id="board">
    <div class="board-space" ng-click="markChoice('sp1')">{{spaces.sp1}}</div>
    <div class="board-space" ng-click="markChoice('sp2')">{{spaces.sp2}}</div>
    <div class="board-space" ng-click="markChoice('sp3')">{{spaces.sp3}}</div>
    <div class="board-space" ng-click="markChoice('sp4')">{{spaces.sp4}}</div>
    <div class="board-space" ng-click="markChoice('sp5')">{{spaces.sp5}}</div>
    <div class="board-space" ng-click="markChoice('sp6')">{{spaces.sp6}}</div>
    <div class="board-space" ng-click="markChoice('sp7')">{{spaces.sp7}}</div>
    <div class="board-space" ng-click="markChoice('sp8')">{{spaces.sp8}}</div>
    <div class="board-space" ng-click="markChoice('sp9')">{{spaces.sp9}}</div>
  </div>
</div>



<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src="js/index.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
